body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: #defdfd;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 150px;
    color: #FFB6C1;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 75px;
    color: black;
}

/* start of index specific html */

#buttBox {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 600px;
    margin-right: 600px;
}

#buttBox button {
    font-size: 45px;
    background-color: #FFB6C1;
    border-radius: 17px;
}

#buttBox button:hover {
    background-color: #ce969f;
}

#yes:hover {cursor: url(img/The\ Heart\ Normal\ -\ Copy.cur) 12 12, auto;}

#no:hover {cursor: url(img/The\ Heart\ Help.cur) 12 12, auto;}

#cuteBear {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#cuteBear img {
    height: 30%;
    width: 30%;
}

/* start of food picker css */

#buttons-one {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#buttons-one label {
    font-size: 50px;
}

#grubbin {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#grubbin img {
    border-radius: 17px;
}

#bottom-button {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 600px;
    margin-right: 600px;
}

#bottom-button button {
    font-size: 45px;
    background-color: #FFB6C1;
    border-radius: 17px;
}

#bottom-button button:hover {
    background-color: #ce969f;
}

/* Start of dessert css*/

#buttons-two {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#buttons-two label {
    font-size: 50px;
}

#dessert {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#dessert img {
    border-radius: 17px;
    height: 300px;
}

#bottom-button-two {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 600px;
    margin-right: 600px;
}

#bottom-button-two button {
    font-size: 45px;
    background-color: #FFB6C1;
    border-radius: 17px;
}

#bottom-button-two button:hover {
    background-color: #ce969f;
}

#the-end {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}